jupyter
requests
pandas
matplotlib
seaborn
plotly
PyPDF2
pyautogui
beautifulsoup4
Pillow
scikit-learn
folium
pycoingecko
opencv-python
pytesseract
nltk
mesa
django
tensorflow
dash
flask
psycopg2-binary
sqlalchemy
flickrapi
xlwt
openpyxl
selenium
webdriver-manager
pykafka
yfinance
ta
openrouteservice
statsmodels
pygame
pulp
mip
boto3
keras
pathlib
tabulate
autopep8
pycodestyle
pylint